body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f9f9f9;
    color: #777;
}
a {
    color: #256296;
    text-decoration: none;
}
a:hover {
    color: #52a543;
    text-decoration: none;
}
.row {
    max-width: 70%;
    margin: 20px;
}
.container {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center
}

code {
    background: #eee;
    padding: 5px;
    color: #9c3eb9;
}